<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="my-3">Post</h2>
    </div>
  </div>
  <div class="row">
    <div class="posts mx-auto col-10 col-md-6 col-lg-5 mt-3">
      <%= image_tag @post.get_post_image(500,500),class: "post-image mb-3" %>
    </div>
    <div class="mx-auto col-10 col-md-6 col-lg-5 pt-lg-5 pt-md-5">
      <h3 class="post-title">
        <%= @post.title %>
      </h3>
      <h4 class="post-text">
        <%= @post.text %>
      </h4>

      <p id="favorite-btn-<%= @post.id %>">
        <%= render"public/favorites/favorites",post: @post %>
      </p>
      <table>
        <tbody id="comments-list">
          <%= render"public/comments/comments",comments: @comments%>
        </tbody>
      </table>
      <div id="comments-form">
        <%= render"public/comments/comment_form",post: @post,comment: @comment%>
      </div>
      <% if @post.user_id == current_user.id %>
        <div class="form-group my-5 pt-lg-3 text-right">
          <%= link_to"編集する",edit_post_path(@post.id),class: "btn btn-edit" %>
          <%= link_to"削除する",post_path(@post.id),method: :delete,"data-confirm"=>"本当に削除しますか？",class: "btn btn-destroy" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
