<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="my-3">Post</h2>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto col-10 col-md-6 col-lg-5 mt-3">
      <%= image_tag @post.get_post_image(500,500),class: "post-image mb-3" %>
    </div>
    <div class="mx-auto col-10 col-md-6 col-lg-5 pt-lg-5 pt-md-5">
      <h3 class="post-title">
        <%= @post.title %>
      </h3>
      <h4 class="post-text">
        <%= @post.text %>
      </h4>

      <h4>場所</h4>
      <div class="map">
        <div id="map">
        </div>
      </div>

      <div type="text/javascript">
        <script>
          function initMap(){
            let map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= @post.latitude %>, lng: <%= @post.longitude %> },
            zoom: 15
            });
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
      </div>

      <%# if @post.user == current_user %>
        <div class="form-group my-5 pt-lg-3 text-right">
          <%= link_to"編集する",edit_post_path(@post.id),class: "btn btn-success" %>
        </div>
      <%# end %>
    </div>
  </div>
</div>
